legbot_unchi.py
**/__pycache__
ECHO_FLOWER
my_command.py
reaction_command.py
my_commands/LEG.py
my_commands/in_command.py
my_commands/regex_command.py
my_commands/LEG_commands/source.py
my_commands/LEG_commands/TETRIS_GAME/TETRIS*.txt
my_commands/LEG_commands/TEST_GAME/TESTGAME*.txt
.mypy_cache